<html>
    <head>
        <title>Maggie's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Maggie's blog</a></h1>
        </div>

        <div>
            <p>published: 22.04.2016, 14:36</p>
            <h2><a href="">This is a place where Maggie can post her blog posts.</a></h2>
            <p>Maggie sometimes likes to write. She's not great at it though, but she would like to have a place to post the silly things she writes. That's why she created this blog post.</p>
        </div>

        <div>
            <p>published: 22.04.2016, 14:36</p>
            <h2><a href="">My second post</a></h2>
            <p>Not much more to say yet!</p>
        </div>
    </body>
</html>
